﻿@page
@model TelelinguaDM.WebService.Pages.GenericReportModel
@{
    ViewData["Title"] = "GenericReport";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var similitaryWordPercentage = 100 - Model.FilesComparingResult.ChangedWordsPercentage;
    var untouchedSegments = Model.FilesComparingResult.TotalSegmentsNumber - Model.FilesComparingResult.ModifiedSegments.Count;
    var untouchedWords = Model.FilesComparingResult.TotalWordsNumber - Model.FilesComparingResult.TotalModifiedWords;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Edit Distance Report</title>
    @*<link rel="stylesheet" href="~/styles.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
    <style>

        #wrapper {
            max-width: 1920px;
            min-width: 1024px;
            margin: auto;
            width:100%;
        }

        body {
            font-family: Tahoma;
        }

        h3 {
            font-size: 30px;
        }

        #report-type {
            font-weight: normal;
        }

        table {
            font-size: 12px;
        }

        ins {
            color: blue;
            font-decoration: underline;
        }

        del {
            color: red;
            font-decoration: strikethrough;
        }

        #header {
            width: 100%;
            margin: 0 auto;
        }

        .block {
            display: inline-block;
        }

        .block-right {
            display: inline-block;
            float: right;
        }

            .block-right img {
                width: 150px;
                height: 90px;
            }

        div.tab {
            overflow: hidden;
            border-bottom: 12px;
            border-bottom-style: solid;
            border-bottom-color: #006666;
            width: 100%;
        }
        .details-container{
            height:auto;
        }
        button.tab-link {
            background-color: #00b3b3;
            width: 20%;
            height: 40px;
            cursor: pointer;
            color: aliceblue;
            border: none;
            font-style: normal;
            font-size: 12px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 0px 15px;
        }

            button.tab-link:hover {
                background-color: #006666;
            }

            button.tab-link.active {
                background-color: #006666;
            }

            button.tab-link:focus {
                outline: none;
            }

        .tab-container {
            width: 100%;
            padding: 10px;
        }

        #chart {
            width: 50%;
            height: 200px;
            float: right;
        }

        .diagram-container {
            overflow: hidden;
            border: 2px;
            width: 60%;
            display: table;
            margin: 0 auto;
            position: relative;
        }

        #percent-table {
            border-collapse: collapse;
            float: right;
            margin: 10px;
        }

        #percent-table, th, td {
            border: 1px solid gray;
            border-style: solid;
            text-align: center;
        }

        .without-border {
            border: none;
            font-weight: bold;
        }

        .bold-text {
            font-weight: bold;
            font-size: 20px;
        }

        .info {
            text-align: center;
            width:20%;
            margin-top: 10%;
        }

        .file-names-container {
            width: 100%;
        }

        .mt-all-content-types {
            background-color: transparent;
            color: gray;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            border-bottom: 1px solid #BEBEBE;
            text-align: left;
            outline: none;
            font-size: 12px;
        }

        .collapsible {
            background-color: transparent;
            color: gray;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            border-bottom: 1px solid #BEBEBE;
            text-align: left;
            outline: none;
            font-size: 12px;
        }

            .collapsible.active {
                border-bottom: 0px;
            }

            .collapsible:after {
                content: '\002B';
                color: gray;
                float: left;
                margin-left: 5px;
            }

            .collapsible.white:after {
                color: white;
            }

            .collapsible.active:after {
                content: "\2212";
            }

            .collapsible.active.white:after {
                color: white;
            }

        .file-names-content {
            width: 100%;
        }

        .details-view {
            display: none;
            overflow: hidden;
        }

        .file-names {
            overflow: hidden;
            width: 60%;
            display: table;
            margin: 0 auto;
        }

        #file-names-table {
            display: table;
            margin: 0 auto;
            width: 100%;
        }

        th.simple {
            color: black;
            padding: 5px;
        }

        .simple {
            border: none;
            text-align: left;
            color: gray;
        }

        #two-views-container {
            width: 100%;
            margin: 0 auto;
        }

        .first-diagram-container {
            width: 55%;
            height: 100%;
            display: inline-block;
        }

        .second-diagram-container {
            width: 45%;
            height: 100%;
            display: inline-block;
            float: right;
        }

        .diagram-container-full {
            overflow: hidden;
        }

        #segments-chart-1 {
            width: 50%;
            height: 200px;
            float: right;
        }

        #segments-chart-1-mt {
            width: 50%;
            height: 200px;
            float: right;
        }

        #words-chart-1 {
            width: 50%;
            height: 200px;
            float: right;
        }

        #characters-chart-1 {
            width: 50%;
            height: 200px;
            float: right;
        }

        .table {
            border-collapse: collapse;
            margin: 10px;
        }

        button.tab-link-max-width {
            background-color: #00b3b3;
            width: max-content;
            margin-top: 4px;
            height: 40px;
            cursor: pointer;
            color: aliceblue;
            border: none;
            font-style: normal;
            font-size: 12px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 0px 15px;
        }

            button.tab-link-max-width:hover {
                background-color: #006666;
            }

            button.tab-link-max-width:focus {
                outline: none;
            }

        #segments-chart-2 {
            width: 50%;
            height: 200px;
            float: right;
        }

        #segments-chart-2-wb {
            width: 50%;
            height: 200px;
            float: right;
        }

        #words-chart-2 {
            width: 50%;
            height: 200px;
            float: right;
        }

        #words-chart-2-wb {
            width: 50%;
            height: 200px;
            float: right;
        }

        #characters-chart-2 {
            width: 50%;
            height: 200px;
            float: right;
        }

        #characters-chart-2-wb {
            width: 50%;
            height: 200px;
            float: right;
        }

        #file-comparison-collapsible {
            width: 98%;
            display: table;
            margin: 5px auto;
            background-color: #006666;
            color: white;
        }

        #file-comparison-collapsible-view {
            width: 98%;
            display: table;
            margin: 5px auto;
        }

        .comparison-result {
            width: 100%;
            border-collapse: collapse;
        }

        th {
            padding: 5px;
        }

            th.gray-header {
                background-color: gray;
                color: white;
                font-weight: normal;
                margin: 0;
                border: solid gray 1px;
            }

        td {
            padding: 5px;
        }

            td.gray-row {
                border: solid gray 1px;
            }

        .tabcontent {
            display: none;
        }

            .tabcontent#wordbased {
                display: block;
            }

        button.tab-link-max-width.active {
            background-color: #006666;
        }

        div.file-names-content {
            border-bottom: 1px solid #BEBEBE;
        }

        div#segments-collapse-view {
            border-bottom: 1px solid #BEBEBE;
            border-top: 0px;
        }

        div#words-collapse-view {
            border-bottom: 1px solid #BEBEBE;
            border-top: 0px;
        }

        div#characters-collapse-view {
            border-bottom: 1px solid #BEBEBE;
            border-top: 0px;
        }

        div#second-segments-collapse-view-wb {
            border-bottom: 1px solid #BEBEBE;
            border-top: 0px;
        }

        div#second-words-collapse-view-wb {
            border-bottom: 1px solid #BEBEBE;
            border-top: 0px;
        }

        div#second-characters-collapse-view-wb {
            border-bottom: 1px solid #BEBEBE;
            border-top: 0px;
        }

        div#second-segments-collapse-view {
            border-bottom: 1px solid #BEBEBE;
            border-top: 0px;
        }

        div#second-words-collapse-view {
            border-bottom: 1px solid #BEBEBE;
            border-top: 0px;
        }

        div#second-characters-collapse-view {
            border-bottom: 1px solid #BEBEBE;
            border-top: 0px;
        }

        fieldset {
            border-top: 0px;
            margin: 20px;
            border-bottom: 0px;
            border-left: 0px;
            border-right: 0px;
        }

        #overall-score {
            border-radius: 4px;
            border: 1px solid #BEBEBE;
        }
    </style>

    <script>
        $(document).ready(function () {
           
            var options = {
                title: {
                    text: "Proportion of words per S% category",
                    fontFamily: "tahoma",
                    fontWeight:"bold"
                },
                animationEnabled: true,
                data: [{
                    type: "pie",
                    startAngle: 40,
                    toolTipContent: "<b>{label}</b>: {y}",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabelFontSize: 16,
                    indexLabel: "{label} - {y}",
                    dataPoints: [
                        { y: @Model.SimilarityWordsInChangedSegment100PercentCount, label: "100%" },
                        { y: @Model.SimilarityWordsInChangedSegment99_95PercentCount, label: "95%-99%" },
                        { y: @Model.SimilarityWordsInChangedSegment94_85PercentCount, label: "85%-94%" },
                        { y: @Model.SimilarityWordsInChangedSegment84_75PercentCount, label: "75%-84%" },
                        { y: @Model.SimilarityWordsInChangedSegment74_50PercentCount, label: "50%-74%" },
                        { y: @Model.SimilarityWordsInChangedSegment49_0PercentCount, label: "0%-49%" }
                    ]
                }]
            };



            $("#chart").CanvasJSChart(options);
            var isMT = "@Model.IsMTReport";
            if (isMT=="True")
            {
                 var overviewOfModMTSegmentsOptions = {
                     animationEnabled: true,
                    theme: "light2",
                    title: {
                        text: ""
                    },
                    axisY: {
                        interval: 10,
                        suffix: "%",

                    },
                    toolTip: {
                        enabled: false
                    },
                    legend: {
                        verticalAlign: "bottom",
                        horizontalAlign: "center"
                    },
                    data: [
                        {
                            type: "stackedColumn100",
                            showInLegend: true,
                            name: "Modified",
                           // axisYType: "secondary",
                            color: "#fe9004",
                            dataPoints: [
                                { y: @Model.FilesComparingResult.ModifiedSegments.Count, label: "Segments" },
                                { y: @Model.FilesComparingResult.TotalModifiedWords, label: "Words" },
                                { y: @Model.FilesComparingResult.TotalEditDistance, label: "Character" }
                            ]
                        },
                        {
                            type: "stackedColumn100",
                            showInLegend: true,
                            name: "Total",
                            //axisYType: "secondary",
                            color: "#0078ae",
                            dataPoints: [
                                { y:@Model.FilesComparingResult.SegmentsList.Count , label: "Segments" },
                                { y: @Model.FilesComparingResult.TotalWordsNumber, label: "Words" },
                                { y: @Model.FilesComparingResult.TotalCharacterNumber, label: "Characters" },
                            ]
                        
                        }
                    ]
                };
                $("#segments-chart-1-mt").CanvasJSChart(overviewOfModMTSegmentsOptions);
                    

            } else
            {
              var overviewOfModSegmentsOptions = {
                  animationEnabled: true,
                  theme: "light2",
                    title: {
                        text: ""
                    },
                    axisY: {
                        interval: 20,
                        suffix: "%",

                    },
                    toolTip: {
                        enabled: false
                    },
                    legend: {
                        verticalAlign: "bottom",
                        horizontalAlign: "center"
                    },
                    data: [
                        {
                            type: "stackedBar100",
                            showInLegend: true,
                            name: "Modified",
                           // axisYType: "secondary",
                            color: "#fe9004",
                            dataPoints: [
                                { y:@Model.TotalModifiedSegmentNumberInPerfectMatch , label: "Perfect match" },
                                { y: @Model.TotalModifiedSegmentNumberInContextMatch, label: "Context match" },
                                { y: @Model.TotalModifiedSegmentNumberInPercent100Match, label: "100%" },
                                { y: @Model.TotalModifiedSegmentNumberInPercent95_99Match, label: "95%-99%" },
                                { y: @Model.TotalModifiedSegmentNumberInPercent85_94Match, label: "85%-94%" },
                                { y: @Model.TotalModifiedSegmentNumberInPercent75_84Match, label: "75%-84%" },
                                { y: @Model.TotalModifiedSegmentNumberInPercent50_74Match, label: "50%-74%" },
                                { y: @Model.TotalModifiedSegmentNumberInNewMatch, label: "New" },
                                { y: @Model.TotalModifiedSegmentNumberInATMatch, label: "AT" },
                                { y: @Model.TotalModifiedSegmentNumberInNTMatch, label: "Not Translated" }
                            ]
                        },
                        {
                            type: "stackedBar100",
                            showInLegend: true,
                            name: "Total",
                            //axisYType: "secondary",
                            color: "#0078ae",
                            dataPoints: [
                                { y: @Model.TotalSegmentNumberInPerfectMatch - @Model.TotalModifiedSegmentNumberInPerfectMatch, label: "Perfect match" },
                                { y: @Model.TotalSegmentNumberInContextMatch - @Model.TotalModifiedSegmentNumberInContextMatch, label: "Context match" },
                                { y: @Model.TotalSegmentNumberInPercent100Match -  @Model.TotalModifiedSegmentNumberInPercent100Match, label: "100%" },
                                { y: @Model.TotalSegmentNumberInPercent95_99Match - @Model.TotalModifiedSegmentNumberInPercent95_99Match, label: "95%-99%" },
                                { y: @Model.TotalSegmentNumberInPercent85_94Match -  @Model.TotalModifiedSegmentNumberInPercent85_94Match, label: "85%-94%" },
                                { y: @Model.TotalSegmentNumberInPercent75_84Match - @Model.TotalModifiedSegmentNumberInPercent75_84Match, label: "75%-84%" },
                                { y: @Model.TotalSegmentNumberInPercent50_74Match -  @Model.TotalModifiedSegmentNumberInPercent50_74Match, label: "50%-74%" },
                                { y: @Model.TotalSegmentNumberInNewMatch - @Model.TotalModifiedSegmentNumberInNewMatch, label: "New" },
                                { y: @Model.TotalSegmentNumberInATMatch -  @Model.TotalModifiedSegmentNumberInATMatch, label: "AT" },
                                { y: @Model.TotalSegmentNumberInNTMatch - @Model.TotalModifiedSegmentNumberInNTMatch, label: "Not Translated" }
                            ]
                        }
                    ]
                };
                $("#segments-chart-1").CanvasJSChart(overviewOfModSegmentsOptions);

                var overviewOfModWordsOptions = {
                    animationEnabled: true,
                theme: "light2",
                title: {
                    text: ""
                },
                axisY: {
                    interval: 20,
                    suffix: "%",

                },
                toolTip: {
                    enabled: false
                },
                legend: {
                    verticalAlign: "bottom",
                    horizontalAlign: "center"
                },
                data: [
                    {
                        type: "stackedBar100",
                        showInLegend: true,
                        name: "Modified",
                       // axisYType: "secondary",
                        color: "#fe9004",
                        dataPoints: [
                            { y:@Model.TotalWordsNumberInPerfectMatchModifiedSegment , label: "Perfect match" },
                            { y: @Model.TotalWordsNumberInContextMatchModifiedSegment, label: "Context match" },
                            { y: @Model.TotalWordsNumberInPercent100MatchModifiedSegment, label: "100%" },
                            { y: @Model.TotalWordsNumberInPercent95_99MatchModifiedSegment, label: "95%-99%" },
                            { y: @Model.TotalWordsNumberInPercent85_94MatchModifiedSegment, label: "85%-94%" },
                            { y: @Model.TotalWordsNumberInPercent75_84MatchModifiedSegment, label: "75%-84%" },
                            { y: @Model.TotalWordsNumberInPercent50_74MatchModifiedSegment, label: "50%-74%" },
                            { y: @Model.TotalWordsNumberInNewMatchModifiedSegment, label: "New" },
                            { y: @Model.TotalWordsNumberInATMatchModifiedSegment, label: "AT" },
                            { y: @Model.TotalWordsNumberInNTMatchModifiedSegment, label: "Not Translated" }
                        ]
                    },
                    {
                        type: "stackedBar100",
                        showInLegend: true,
                        name: "Total",
                        //axisYType: "secondary",
                        color: "#0078ae",
                        dataPoints: [
                            { y:@Model.TotalWordsNumberInPerfectMatchSegment - @Model.TotalWordsNumberInPerfectMatchModifiedSegment , label: "Perfect match" },
                            { y: @Model.TotalWordsNumberInContextMatchSegment - @Model.TotalWordsNumberInContextMatchModifiedSegment, label: "Context match" },
                            { y: @Model.TotalWordsNumberInPercent100MatchSegment - @Model.TotalWordsNumberInPercent100MatchModifiedSegment, label: "100%" },
                            { y: @Model.TotalWordsNumberInPercent95_99MatchSegment - @Model.TotalWordsNumberInPercent95_99MatchModifiedSegment, label: "95%-99%" },
                            { y: @Model.TotalWordsNumberInPercent85_94MatchSegment - @Model.TotalWordsNumberInPercent85_94MatchModifiedSegment, label: "85%-94%" },
                            { y: @Model.TotalWordsNumberInPercent75_84MatchSegment - @Model.TotalWordsNumberInPercent75_84MatchModifiedSegment, label: "75%-84%" },
                            { y: @Model.TotalWordsNumberInPercent50_74MatchSegment - @Model.TotalWordsNumberInPercent50_74MatchModifiedSegment, label: "50%-74%" },
                            { y: @Model.TotalWordsNumberInNewMatchSegment -@Model.TotalWordsNumberInNewMatchModifiedSegment, label: "New" },
                            { y: @Model.TotalWordsNumberInATMatchSegment - @Model.TotalWordsNumberInATMatchModifiedSegment, label: "AT" },
                            { y: @Model.TotalWordsNumberInNTMatchSegment - @Model.TotalWordsNumberInNTMatchModifiedSegment, label: "Not Translated" }
                        ]
                    }
                ]
            };
            $("#words-chart-1").CanvasJSChart(overviewOfModWordsOptions);

            var overviewOfModCharactersOptions = {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: ""
                },
                axisY: {
                    interval: 20,
                    suffix: "%",

                },
                toolTip: {
                    enabled: false
                },
                legend: {
                    verticalAlign: "bottom",
                    horizontalAlign: "center"
                },
                data: [
                    {
                        type: "stackedBar100",
                        showInLegend: true,
                        name: "Modified",
                       // axisYType: "secondary",
                        color: "#fe9004",
                        dataPoints: [
                            { y:@Model.TotalCharacterNumberInPerfectMatchModifiedSegment , label: "Perfect match" },
                            { y: @Model.TotalCharacterNumberInContextMatchModifiedSegment, label: "Context match" },
                            { y: @Model.TotalCharacterNumberInPercent100MatchModifiedSegment, label: "100%" },
                            { y: @Model.TotalCharacterNumberInPercent95_99MatchModifiedSegment, label: "95%-99%" },
                            { y: @Model.TotalCharacterNumberInPercent85_94MatchModifiedSegment, label: "85%-94%" },
                            { y: @Model.TotalCharacterNumberInPercent75_84MatchModifiedSegment, label: "75%-84%" },
                            { y: @Model.TotalCharacterNumberInPercent50_74MatchModifiedSegment, label: "50%-74%" },
                            { y: @Model.TotalCharacterNumberInNewMatchModifiedSegment, label: "New" },
                            { y: @Model.TotalCharacterNumberInATMatchModifiedSegment, label: "AT" },
                            { y: @Model.TotalCharacterNumberInNTMatchModifiedSegment, label: "Not Translated" }
                        ]
                    },
                    {
                        type: "stackedBar100",
                        showInLegend: true,
                        name: "Total",
                        //axisYType: "secondary",
                        color: "#0078ae",
                        dataPoints: [
                            { y:@Model.TotalCharacterNumberInPerfectMatchSegment - @Model.TotalCharacterNumberInPerfectMatchModifiedSegment , label: "Perfect match" },
                            { y: @Model.TotalCharacterNumberInContextMatchSegment - @Model.TotalCharacterNumberInContextMatchModifiedSegment, label: "Context match" },
                            { y: @Model.TotalCharacterNumberInPercent100MatchSegment - @Model.TotalCharacterNumberInPercent100MatchModifiedSegment, label: "100%" },
                            { y: @Model.TotalCharacterNumberInPercent95_99MatchSegment - @Model.TotalCharacterNumberInPercent95_99MatchModifiedSegment, label: "95%-99%" },
                            { y: @Model.TotalCharacterNumberInPercent85_94MatchSegment - @Model.TotalCharacterNumberInPercent85_94MatchModifiedSegment, label: "85%-94%" },
                            { y: @Model.TotalCharacterNumberInPercent75_84MatchSegment - @Model.TotalCharacterNumberInPercent75_84MatchModifiedSegment, label: "75%-84%" },
                            { y: @Model.TotalCharacterNumberInPercent50_74MatchSegment -  @Model.TotalCharacterNumberInPercent50_74MatchModifiedSegment, label: "50%-74%" },
                            { y: @Model.TotalCharacterNumberInNewMatchSegment - @Model.TotalCharacterNumberInNewMatchModifiedSegment, label: "New" },
                            { y: @Model.TotalCharacterNumberInATMatchSegment - @Model.TotalCharacterNumberInATMatchModifiedSegment, label: "AT" },
                            { y: @Model.TotalCharacterNumberInNTMatchSegment - @Model.TotalCharacterNumberInNTMatchModifiedSegment, label: "Not Translated" }
                        ]
                    }
                ]
            };

                $("#characters-chart-1").CanvasJSChart(overviewOfModCharactersOptions);
                
            }
           
            var optionsSegmentSimilarityWordBased = {
                title: {
                    text: ""
                },
                animationEnabled: true,
                data: [{
                    type: "pie",
                    startAngle: 40,
                    toolTipContent: "<b>{label}</b>: {y}",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabelFontSize: 16,
                    indexLabel: "{label} - {y}",
                    dataPoints: [
                        { y: @Model.SimilaritySegments100PercentCountWordBased, label: "100%" },
                        { y: @Model.SimilaritySegments99_95PercentCountWordBased, label: "95%-99%" },
                        { y: @Model.SimilaritySegments94_85PercentCountWordBased, label: "85%-94%" },
                        { y: @Model.SimilaritySegments84_75PercentCountWordBased, label: "75%-84%" },
                        { y: @Model.SimilaritySegments74_50PercentCountWordBased, label: "50%-74%" },
                        { y: @Model.SimilaritySegments49_0PercentCountWordBased, label: "0%-49%" }
                    ]
                }]
            };
            $("#segments-chart-2-wb").CanvasJSChart(optionsSegmentSimilarityWordBased);

            var optionsWordsSimilarityWordBased = {
                    title: {
                        text: ""
                    },
                    animationEnabled: true,
                    data: [{
                        type: "pie",
                        startAngle: 40,
                        toolTipContent: "<b>{label}</b>: {y}",
                        showInLegend: "true",
                        legendText: "{label}",
                        indexLabelFontSize: 16,
                        indexLabel: "{label} - {y}",
                        dataPoints: [
                            { y: @Model.SimilaritySegments100PercentWordCountWordBased, label: "100%" },
                            { y: @Model.SimilaritySegments99_95PercentWordCountWordBased, label: "95%-99%" },
                            { y: @Model.SimilaritySegments94_85PercentWordCountWordBased, label: "85%-94%" },
                            { y: @Model.SimilaritySegments84_75PercentWordCountWordBased, label: "75%-84%" },
                            { y: @Model.SimilaritySegments74_50PercentWordCountWordBased, label: "50%-74%" },
                            { y: @Model.SimilaritySegments49_0PercentWordCountWordBased, label: "0%-49%" }
                        ]
                    }]
                };
                    $("#words-chart-2-wb").CanvasJSChart(optionsWordsSimilarityWordBased);

                var optionsCharactersSimilarityWordBased = {
                    title: {
                        text: ""
                    },
                    animationEnabled: true,
                    data: [{
                        type: "pie",
                        startAngle: 40,
                        toolTipContent: "<b>{label}</b>: {y}",
                        showInLegend: "true",
                        legendText: "{label}",
                        indexLabelFontSize: 16,
                        indexLabel: "{label} - {y}",
                        dataPoints: [
                            { y: @Model.SimilaritySegments100PercentCharacterCountWordBased, label: "100%" },
                            { y: @Model.SimilaritySegments99_95PercentCharacterCountWordBased, label: "95%-99%" },
                            { y: @Model.SimilaritySegments94_85PercentCharacterCountWordBased, label: "85%-94%" },
                            { y: @Model.SimilaritySegments84_75PercentCharacterCountWordBased, label: "75%-84%" },
                            { y: @Model.SimilaritySegments74_50PercentCharacterCountWordBased, label: "50%-74%" },
                            { y: @Model.SimilaritySegments49_0PercentCharacterCountWordBased, label: "0%-49%" }
                        ]
                    }]
                };
                    $("#characters-chart-2-wb").CanvasJSChart(optionsCharactersSimilarityWordBased );
            


            $('#file-collapsible').click(function () {
                
                $('.file-names-content').slideToggle('fast');
                $(this).toggleClass("active");

            });

            $('#details-collapsible').click(function () {
              
                $('#two-views-container').slideToggle('fast');

                $(this).toggleClass("active");

            });

            $('#segments-collapse').click(function () {

                $('#segments-collapse-view').slideToggle('fast');
                $(this).toggleClass("active");

            });

            $('#words-collapse').click(function () {
                $('#words-collapse-view').slideToggle('fast');
                $(this).toggleClass("active");
            });

            $('#characters-collapse').click(function () {
                $('#characters-collapse-view').slideToggle('fast');
                $(this).toggleClass("active");
            });

            $('#second-segments-collapse').click(function () {

                $('#second-segments-collapse-view').slideToggle('fast');
                $(this).toggleClass("active");

            });

            $('#second-words-collapse').click(function () {

                $('#second-words-collapse-view').slideToggle('fast');
                $(this).toggleClass("active");
            });

            $('#second-characters-collapse').click(function () {
                $('#second-characters-collapse-view').slideToggle('fast');
                $(this).toggleClass("active");
            });

            $('#second-segments-collapse-wb').click(function () {

                $('#second-segments-collapse-view-wb').slideToggle('fast');
                $(this).toggleClass("active");

            });

            $('#second-words-collapse-wb').click(function () {

                $('#second-words-collapse-view-wb').slideToggle('fast');
                $(this).toggleClass("active");
            });

            $('#second-characters-collapse-wb').click(function () {
                $('#second-characters-collapse-view-wb').slideToggle('fast');
                $(this).toggleClass("active");
            });

            $('#table-collapsible').click(function () {
                $('#table-view-id').slideToggle('fast');
                $(this).toggleClass("active");
            });

            $('#file-comparison-collapsible').click(function () {
                $('#file-comparison-collapsible-view').slideToggle('fast');
                $(this).toggleClass("active");
            });

        });

        function SwapToAlgoritm(evnt, algorithm) {

            $('.tabcontent').css("display", "none");
            $('#' + algorithm).css("display", "block");
            if (algorithm == "characterbased") {
                             var optionsSegmentSimilarity = {
                title: {
                    text: ""
                },
                animationEnabled: true,
                data: [{
                    type: "pie",
                    startAngle: 40,
                    toolTipContent: "<b>{label}</b>: {y}",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabelFontSize: 16,
                    indexLabel: "{label} - {y}",
                    dataPoints: [
                        { y: @Model.SimilaritySegments100PercentCountCharacterBased, label: "100%" },
                        { y: @Model.SimilaritySegments99_95PercentCountCharacterBased, label: "95%-99%" },
                        { y: @Model.SimilaritySegments94_85PercentCountCharacterBased, label: "85%-94%" },
                        { y: @Model.SimilaritySegments84_75PercentCountCharacterBased, label: "75%-84%" },
                        { y: @Model.SimilaritySegments74_50PercentCountCharacterBased, label: "50%-74%" },
                        { y: @Model.SimilaritySegments49_0PercentCountCharacterBased, label: "0%-49%" }
                    ]
                }]
            };

            $("#segments-chart-2").CanvasJSChart(optionsSegmentSimilarity);

             var optionsWordsSimilarity = {
                title: {
                    text: ""
                },
                animationEnabled: true,
                data: [{
                    type: "pie",
                    startAngle: 40,
                    toolTipContent: "<b>{label}</b>: {y}",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabelFontSize: 16,
                    indexLabel: "{label} - {y}",
                    dataPoints: [
                        { y: @Model.SimilaritySegments100PercentWordCountCharacterBased, label: "100%" },
                        { y: @Model.SimilaritySegments99_95PercentWordCountCharacterBased, label: "95%-99%" },
                        { y: @Model.SimilaritySegments94_85PercentWordCountCharacterBased, label: "85%-94%" },
                        { y: @Model.SimilaritySegments84_75PercentWordCountCharacterBased, label: "75%-84%" },
                        { y: @Model.SimilaritySegments74_50PercentWordCountCharacterBased, label: "50%-74%" },
                        { y: @Model.SimilaritySegments49_0PercentWordCountCharacterBased, label: "0%-49%" }
                    ]
                }]
            };
            $("#words-chart-2").CanvasJSChart(optionsWordsSimilarity);

             var optionsCharacterSimilarity = {
                title: {
                    text: ""
                },
                animationEnabled: true,
                data: [{
                    type: "pie",
                    startAngle: 40,
                    toolTipContent: "<b>{label}</b>: {y}",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabelFontSize: 16,
                    indexLabel: "{label} - {y}",
                    dataPoints: [
                        { y: @Model.SimilaritySegments100PercentCharacterCountCharacterBased, label: "100%" },
                        { y: @Model.SimilaritySegments99_95PercentCharacterCountCharacterBased, label: "95%-99%" },
                        { y: @Model.SimilaritySegments94_85PercentCharacterCountCharacterBased, label: "85%-94%" },
                        { y: @Model.SimilaritySegments84_75PercentCharacterCountCharacterBased, label: "75%-84%" },
                        { y: @Model.SimilaritySegments74_50PercentCharacterCountCharacterBased, label: "50%-74%" },
                        { y: @Model.SimilaritySegments49_0PercentCharacterCountCharacterBased, label: "0%-49%" }
                    ]
                }]
            };
            $("#characters-chart-2").CanvasJSChart(optionsCharacterSimilarity);
            }

            $('.tab-link-max-width').removeClass("active");
            evnt.currentTarget.className += " active";
        }

    </script>


</head>
<body>
    <div id="wrapper">

        <div id="header">
            <div class="block">
                <h3>Edit distance report:<span id="report-type">@(Model.IsMTReport ? " MT" : " Generic")</span></h3>
            </div>
            <div class="block-right">
                @*<img src="Resources/telelingua logo.png">*@
            </div>
        </div>

        <div>
            <div class="tab">
                <button class="tab-link active">@Model.FilesComparingResult.SourceFileName</button>
                @*<button class="tab-link">File1</button>
                    <button class="tab-link">File2</button>*@
            </div>

            <div class="tab-container">

                <div class="diagram-container">
                    <fieldset id="overall-score">
                        <legend> Overall score: </legend>
                        <div id="chart">

                        </div>
                        <table id="percent-table">
                            <caption>Wordcount per S% category</caption>
                            <thead>
                            <th>Similarity</th>
                            <th> Wordcount </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>100%</td>
                                    <td>@Model.SimilarityWordsInChangedSegment100PercentCount</td>
                                </tr>

                                <tr>
                                    <td>95% - 99%</td>
                                    <td>@Model.SimilarityWordsInChangedSegment99_95PercentCount</td>
                                </tr>

                                <tr>
                                    <td>85%-94%</td>
                                    <td>@Model.SimilarityWordsInChangedSegment94_85PercentCount</td>
                                </tr>

                                <tr>
                                    <td>75%-84%</td>
                                    <td>@Model.SimilarityWordsInChangedSegment84_75PercentCount</td>
                                </tr>

                                <tr>
                                    <td>50%-74%</td>
                                    <td>@Model.SimilarityWordsInChangedSegment74_50PercentCount</td>
                                </tr>

                                <tr>
                                    <td>0%-49%</td>
                                    <td>@Model.SimilarityWordsInChangedSegment49_0PercentCount</td>
                                </tr>
                                <tr>
                                    <td class="without-border">TOTAL</td>
                                    <td class="without-border">@Model.FilesComparingResult.TotalWordsNumber</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="info">
                            <div>Overall Similarity Score:</div>
                            <h4 class="bold-text">@similitaryWordPercentage%<h4>
                        </div>
                    </fieldset>
                    
                </div>

                <div class="file-names-container">
                    <button class="collapsible active" id="file-collapsible"> Files </button>
                   
                    <div class="file-names-content">
                        @*<hr>*@
                        <div class="file-names">
                            <table id="file-names-table">
                                <thead>
                                <th class="simple">Original:</th>
                                <th class="simple">Edited:</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="simple">@Model.FilesComparingResult.SourceFileName</td>
                                        <td class="simple">@Model.FilesComparingResult.TargetFileName</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        @*<hr>*@
                    </div>
                </div>

                <div class="details-container">
                    <button class="collapsible active" id="details-collapsible"> Details </button>

                     <div id="two-views-container">
                           
                         <div class="first-diagram-container">
                            @if (Model.IsMTReport)
                            {
                                <fieldset>
                                    <legend> Overview of modifications: </legend>
                                    <div class="diagram-container-full">
                                        <button class="mt-all-content-types "> All content types </button>
                                        <div style="height:200px" id="segments-collapse-view">
                                            <div id="segments-chart-1-mt">

                                            </div>
                                            <table class="table">
                                                <thead>
                                                <th> Type</th>
                                                <th> Modified </th>
                                                <th> Total </th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Segments</td>
                                                        <td>@Model.FilesComparingResult.ModifiedSegments.Count</td>
                                                        <td>@Model.FilesComparingResult.SegmentsList.Count</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Words</td>
                                                        <td>@Model.FilesComparingResult.SourceSegments.Sum(s => s.WordCount)</td>
                                                        <td>@Model.FilesComparingResult.TotalWordsNumber </td>
                                                    </tr>

                                                    <tr>
                                                        <td>Characters</td>
                                                        <td>@Model.FilesComparingResult.SourceSegments.Sum(s => s.Value.Length)</td>
                                                        <td>@Model.FilesComparingResult.TotalCharacterNumber </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>

                                    </div>
                                </fieldset>
                            }
                            else
                            {
                                <fieldset>
                                    <legend> Overview of modifications: </legend>
                                    <div class="diagram-container-full">
                                        <button id="segments-collapse" class="collapsible active"> Segments </button>
                                        <div id="segments-collapse-view">
                                            <div id="segments-chart-1">

                                            </div>
                                            <table class="table">
                                                <thead>
                                                <th> Match status</th>
                                                <th> Modified </th>
                                                <th> Total </th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Perfect match</td>
                                                        <td>@Model.FilesComparingResult.ModifiedSegments.Count(ms => ms.OriginalSegment.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.PerfectMatch)</td>
                                                        <td> @Model.FilesComparingResult.SegmentsList.Count(s => s.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.PerfectMatch)</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Context match</td>
                                                        <td>@Model.FilesComparingResult.ModifiedSegments.Count(ms => ms.OriginalSegment.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.ContextMatch)</td>
                                                        <td> @Model.FilesComparingResult.SegmentsList.Count(s => s.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.ContextMatch)</td>
                                                    </tr>

                                                    <tr>
                                                        <td>100%</td>
                                                        <td>@Model.FilesComparingResult.ModifiedSegments.Count(ms => ms.OriginalSegment.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.PercentValue100)</td>
                                                        <td> @Model.FilesComparingResult.SegmentsList.Count(s => s.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.PercentValue100)</td>
                                                    </tr>

                                                    <tr>
                                                        <td>95% - 99%</td>
                                                        <td>@Model.FilesComparingResult.ModifiedSegments.Count(ms => ms.OriginalSegment.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.PercentValues95_99)</td>
                                                        <td> @Model.FilesComparingResult.SegmentsList.Count(s => s.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.PercentValues95_99)</td>
                                                    </tr>

                                                    <tr>
                                                        <td>85%-94%</td>
                                                        <td>@Model.FilesComparingResult.ModifiedSegments.Count(ms => ms.OriginalSegment.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.PercentValues85_94)</td>
                                                        <td> @Model.FilesComparingResult.SegmentsList.Count(s => s.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.PercentValues85_94)</td>
                                                    </tr>

                                                    <tr>
                                                        <td>75%-84%</td>
                                                        <td>@Model.FilesComparingResult.ModifiedSegments.Count(ms => ms.OriginalSegment.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.PercentValues75_84)</td>
                                                        <td> @Model.FilesComparingResult.SegmentsList.Count(s => s.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.PercentValues75_84)</td>
                                                    </tr>

                                                    <tr>
                                                        <td>50%-74%</td>
                                                        <td>@Model.FilesComparingResult.ModifiedSegments.Count(ms => ms.OriginalSegment.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.PercentValues50_74)</td>
                                                        <td> @Model.FilesComparingResult.SegmentsList.Count(s => s.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.PercentValues50_74)</td>
                                                    </tr>


                                                    <tr>
                                                        <td>New</td>
                                                        <td>@Model.FilesComparingResult.ModifiedSegments.Count(ms => ms.OriginalSegment.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.New)</td>
                                                        <td> @Model.FilesComparingResult.SegmentsList.Count(s => s.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.New)</td>
                                                    </tr>
                                                    <tr>
                                                        <td> AT </td>
                                                        <td>@Model.FilesComparingResult.ModifiedSegments.Count(ms => ms.OriginalSegment.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.AT)</td>
                                                        <td> @Model.FilesComparingResult.SegmentsList.Count(s => s.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.AT)</td>
                                                    </tr>
                                                    <tr>
                                                        <td> Not Translated </td>
                                                        <td>@Model.FilesComparingResult.ModifiedSegments.Count(ms => ms.OriginalSegment.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.NotTranslated)</td>
                                                        <td> @Model.FilesComparingResult.SegmentsList.Count(s => s.MatchStatus == TelelinguaDM.Core.Models.MatchStatus.NotTranslated)</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="without-border">TOTALS</td>
                                                        <td class="without-border">@Model.FilesComparingResult.ModifiedSegments.Count</td>
                                                        <td class="without-border">@Model.FilesComparingResult.SegmentsList.Count</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>

                                        <button id="words-collapse" class="collapsible active"> Words </button>
                                        <div id="words-collapse-view">
                                            <div id="words-chart-1">

                                            </div>
                                            <table class="table">
                                                <thead>
                                                <th> Match status</th>
                                                <th> Modified </th>
                                                <th> Total </th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Perfect match</td>
                                                        <td>@Model.TotalWordsNumberInPerfectMatchModifiedSegment</td>
                                                        <td>@Model.TotalWordsNumberInPerfectMatchSegment</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Context match</td>
                                                        <td>@Model.TotalWordsNumberInContextMatchModifiedSegment</td>
                                                        <td>@Model.TotalWordsNumberInContextMatchSegment</td>
                                                    </tr>


                                                    <tr>
                                                        <td>100%</td>
                                                        <td>@Model.TotalWordsNumberInPercent100MatchModifiedSegment</td>
                                                        <td>@Model.TotalWordsNumberInPercent100MatchSegment</td>
                                                    </tr>

                                                    <tr>
                                                        <td>95% - 99%</td>
                                                        <td>@Model.TotalWordsNumberInPercent95_99MatchModifiedSegment</td>
                                                        <td>@Model.TotalWordsNumberInPercent95_99MatchSegment</td>
                                                    </tr>

                                                    <tr>
                                                        <td>85%-94%</td>
                                                        <td>@Model.TotalWordsNumberInPercent85_94MatchModifiedSegment</td>
                                                        <td>@Model.TotalWordsNumberInPercent85_94MatchSegment</td>
                                                    </tr>

                                                    <tr>
                                                        <td>75%-84%</td>
                                                        <td>@Model.TotalWordsNumberInPercent75_84MatchModifiedSegment</td>
                                                        <td>@Model.TotalWordsNumberInPercent75_84MatchSegment</td>
                                                    </tr>

                                                    <tr>
                                                        <td>50%-74%</td>
                                                        <td>@Model.TotalWordsNumberInPercent50_74MatchModifiedSegment</td>
                                                        <td>@Model.TotalWordsNumberInPercent50_74MatchSegment</td>
                                                    </tr>


                                                    <tr>
                                                        <td>New</td>
                                                        <td>@Model.TotalWordsNumberInNewMatchModifiedSegment</td>
                                                        <td>@Model.TotalWordsNumberInNewMatchSegment</td>
                                                    </tr>
                                                    <tr>
                                                        <td> AT </td>
                                                        <td>@Model.TotalWordsNumberInATMatchModifiedSegment</td>
                                                        <td>@Model.TotalWordsNumberInATMatchSegment</td>
                                                    </tr>
                                                    <tr>
                                                        <td> Not Translated </td>
                                                        <td>@Model.TotalWordsNumberInNTMatchModifiedSegment</td>
                                                        <td>@Model.TotalWordsNumberInNTMatchSegment</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="without-border">TOTALS</td>
                                                        <td class="without-border">@Model.FilesComparingResult.SourceSegments.Sum(ss => ss.WordCount)</td>
                                                        <td class="without-border">@Model.FilesComparingResult.TotalWordsNumber</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>

                                        <button id="characters-collapse" class="collapsible active"> Characters </button>
                                        <div id="characters-collapse-view">

                                            <div id="characters-chart-1">

                                            </div>
                                            <table class="table">
                                                <thead>
                                                <th> Match status</th>
                                                <th> Modified </th>
                                                <th> Total </th>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Perfect match</td>
                                                        <td>@Model.TotalCharacterNumberInPerfectMatchModifiedSegment</td>
                                                        <td>@Model.TotalCharacterNumberInPerfectMatchSegment</td>
                                                    </tr>

                                                    <tr>
                                                        <td>Context match</td>
                                                        <td>@Model.TotalCharacterNumberInContextMatchModifiedSegment</td>
                                                        <td>@Model.TotalCharacterNumberInContextMatchSegment</td>
                                                    </tr>

                                                    <tr>
                                                        <td>100%</td>
                                                        <td>@Model.TotalCharacterNumberInPercent100MatchModifiedSegment</td>
                                                        <td>@Model.TotalCharacterNumberInPercent100MatchSegment</td>
                                                    </tr>

                                                    <tr>
                                                        <td>95% - 99%</td>
                                                        <td>@Model.TotalCharacterNumberInPercent95_99MatchModifiedSegment</td>
                                                        <td>@Model.TotalCharacterNumberInPercent95_99MatchSegment</td>
                                                    </tr>

                                                    <tr>
                                                        <td>85%-94%</td>
                                                        <td>@Model.TotalCharacterNumberInPercent85_94MatchModifiedSegment</td>
                                                        <td>@Model.TotalCharacterNumberInPercent85_94MatchSegment</td>
                                                    </tr>

                                                    <tr>
                                                        <td>75%-84%</td>
                                                        <td>@Model.TotalCharacterNumberInPercent75_84MatchModifiedSegment</td>
                                                        <td>@Model.TotalCharacterNumberInPercent75_84MatchSegment</td>
                                                    </tr>

                                                    <tr>
                                                        <td>50%-74%</td>
                                                        <td>@Model.TotalCharacterNumberInPercent50_74MatchModifiedSegment</td>
                                                        <td>@Model.TotalCharacterNumberInPercent50_74MatchSegment</td>
                                                    </tr>


                                                    <tr>
                                                        <td>New</td>
                                                        <td>@Model.TotalCharacterNumberInNewMatchModifiedSegment</td>
                                                        <td>@Model.TotalCharacterNumberInNewMatchSegment</td>
                                                    </tr>
                                                    <tr>
                                                        <td> AT </td>
                                                        <td>@Model.TotalCharacterNumberInATMatchModifiedSegment</td>
                                                        <td>@Model.TotalCharacterNumberInATMatchSegment</td>
                                                    </tr>
                                                    <tr>
                                                        <td> Not Translated </td>
                                                        <td>@Model.TotalCharacterNumberInNTMatchModifiedSegment</td>
                                                        <td>@Model.TotalCharacterNumberInNTMatchSegment</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="without-border">TOTALS</td>
                                                        <td class="without-border">@Model.FilesComparingResult.SourceSegments.Sum(ss => ss.Value.Length)</td>
                                                        <td class="without-border">@Model.FilesComparingResult.TotalCharacterNumber</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </fieldset>
                            }

                          </div>


                         <div class="second-diagram-container">
                        <fieldset>
                            <legend>Similarity scores:</legend>
                            <div class="diagram-container-full">
                                <div class="tab">
                                    <button class="tab-link-max-width active" onclick="SwapToAlgoritm(event,'wordbased')">Word-based</button>
                                    <button class="tab-link-max-width" onclick="SwapToAlgoritm(event,'characterbased')">Character-based</button>

                                </div>
                                <div id="wordbased" class="tabcontent">
                                    <button id="second-segments-collapse-wb" class="collapsible active">  Segments </button>
                                    <div id="second-segments-collapse-view-wb">
                                        <div id="segments-chart-2-wb">

                                        </div>
                                        <table class="table">
                                            <thead>
                                            <th>Similarity</th>
                                            <th> Segment count </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>100%</td>
                                                    <td>@Model.SimilaritySegments100PercentCountWordBased</td>
                                                </tr>

                                                <tr>
                                                    <td>95% - 99%</td>
                                                    <td>@Model.SimilaritySegments99_95PercentCountWordBased</td>
                                                </tr>

                                                <tr>
                                                    <td>85%-94%</td>
                                                    <td>@Model.SimilaritySegments94_85PercentCountWordBased</td>
                                                </tr>

                                                <tr>
                                                    <td>75%-84%</td>
                                                    <td>@Model.SimilaritySegments84_75PercentCountWordBased</td>
                                                </tr>

                                                <tr>
                                                    <td>50%-74%</td>
                                                    <td>@Model.SimilaritySegments74_50PercentCountWordBased</td>
                                                </tr>

                                                <tr>
                                                    <td>0%-49%</td>
                                                    <td>@Model.SimilaritySegments49_0PercentCountWordBased</td>
                                                </tr>
                                                <tr>
                                                    <td class="without-border">TOTAL</td>
                                                    <td class="without-border">@Model.FilesComparingResult.TotalSegmentsNumber</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                    <button id="second-words-collapse-wb" class="collapsible active">  Words </button>
                                    <div id="second-words-collapse-view-wb">
                                        <div id="words-chart-2-wb">

                                        </div>
                                        <table class="table">
                                            <thead>
                                            <th>Similarity</th>
                                            <th> Wordcount </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>100%</td>
                                                    <td>@Model.SimilaritySegments100PercentWordCountWordBased</td>
                                                </tr>

                                                <tr>
                                                    <td>95% - 99%</td>
                                                    <td>@Model.SimilaritySegments99_95PercentWordCountWordBased</td>
                                                </tr>

                                                <tr>
                                                    <td>85%-94%</td>
                                                    <td>@Model.SimilaritySegments94_85PercentWordCountWordBased</td>
                                                </tr>

                                                <tr>
                                                    <td>75%-84%</td>
                                                    <td>@Model.SimilaritySegments84_75PercentWordCountWordBased</td>
                                                </tr>

                                                <tr>
                                                    <td>50%-74%</td>
                                                    <td>@Model.SimilaritySegments74_50PercentWordCountWordBased</td>
                                                </tr>

                                                <tr>
                                                    <td>0%-49%</td>
                                                    <td>@Model.SimilaritySegments49_0PercentWordCountWordBased</td>
                                                </tr>
                                                <tr>
                                                    <td class="without-border">TOTAL</td>
                                                    <td class="without-border">@Model.FilesComparingResult.TotalWordsNumber</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                    <button id="second-characters-collapse-wb" class="collapsible active">  Characters </button>
                                    <div id="second-characters-collapse-view-wb">

                                        <div id="characters-chart-2-wb">

                                        </div>
                                        <table class="table">
                                            <thead>
                                            <th>Similarity</th>
                                            <th> Wordcount </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>100%</td>
                                                    <td>@Model.SimilaritySegments100PercentCharacterCountWordBased</td>
                                                </tr>

                                                <tr>
                                                    <td>95% - 99%</td>
                                                    <td>@Model.SimilaritySegments99_95PercentCharacterCountWordBased</td>
                                                </tr>

                                                <tr>
                                                    <td>85%-94%</td>
                                                    <td>@Model.SimilaritySegments94_85PercentCharacterCountWordBased</td>
                                                </tr>

                                                <tr>
                                                    <td>75%-84%</td>
                                                    <td>@Model.SimilaritySegments84_75PercentCharacterCountWordBased</td>
                                                </tr>

                                                <tr>
                                                    <td>50%-74%</td>
                                                    <td>@Model.SimilaritySegments74_50PercentCharacterCountWordBased</td>
                                                </tr>

                                                <tr>
                                                    <td>0%-49%</td>
                                                    <td>@Model.SimilaritySegments49_0PercentCharacterCountWordBased</td>
                                                </tr>
                                                <tr>
                                                    <td class="without-border">TOTAL</td>
                                                    <td class="without-border">@Model.FilesComparingResult.TotalCharacterNumber</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <div id="characterbased" class="tabcontent">
                                    <button id="second-segments-collapse" class="collapsible active">  Segments </button>
                                    <div id="second-segments-collapse-view">
                                        <div id="segments-chart-2">

                                        </div>
                                        <table class="table">
                                            <thead>
                                            <th>Similarity</th>
                                            <th> Segment count </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>100%</td>
                                                    <td>@Model.SimilaritySegments100PercentCountCharacterBased</td>
                                                </tr>

                                                <tr>
                                                    <td>95% - 99%</td>
                                                    <td>@Model.SimilaritySegments99_95PercentCountCharacterBased</td>
                                                </tr>

                                                <tr>
                                                    <td>85%-94%</td>
                                                    <td>@Model.SimilaritySegments94_85PercentCountCharacterBased</td>
                                                </tr>

                                                <tr>
                                                    <td>75%-84%</td>
                                                    <td>@Model.SimilaritySegments84_75PercentCountCharacterBased</td>
                                                </tr>

                                                <tr>
                                                    <td>50%-74%</td>
                                                    <td>@Model.SimilaritySegments74_50PercentCountCharacterBased</td>
                                                </tr>

                                                <tr>
                                                    <td>0%-49%</td>
                                                    <td>@Model.SimilaritySegments49_0PercentCountCharacterBased</td>
                                                </tr>
                                                <tr>
                                                    <td class="without-border">TOTAL</td>
                                                    <td class="without-border">@Model.FilesComparingResult.TotalSegmentsNumber</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                    <button id="second-words-collapse" class="collapsible active">  Words </button>
                                    <div id="second-words-collapse-view">
                                        <div id="words-chart-2">

                                        </div>
                                        <table class="table">
                                            <thead>
                                            <th>Similarity</th>
                                            <th> Wordcount </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>100%</td>
                                                    <td>@Model.SimilaritySegments100PercentWordCountCharacterBased</td>
                                                </tr>

                                                <tr>
                                                    <td>95% - 99%</td>
                                                    <td>@Model.SimilaritySegments99_95PercentWordCountCharacterBased</td>
                                                </tr>

                                                <tr>
                                                    <td>85%-94%</td>
                                                    <td>@Model.SimilaritySegments94_85PercentWordCountCharacterBased</td>
                                                </tr>

                                                <tr>
                                                    <td>75%-84%</td>
                                                    <td>@Model.SimilaritySegments84_75PercentWordCountCharacterBased</td>
                                                </tr>

                                                <tr>
                                                    <td>50%-74%</td>
                                                    <td>@Model.SimilaritySegments74_50PercentWordCountCharacterBased</td>
                                                </tr>

                                                <tr>
                                                    <td>0%-49%</td>
                                                    <td>@Model.SimilaritySegments49_0PercentWordCountCharacterBased</td>
                                                </tr>
                                                <tr>
                                                    <td class="without-border">TOTAL</td>
                                                    <td class="without-border">@Model.FilesComparingResult.TotalWordsNumber</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                    <button id="second-characters-collapse" class="collapsible active">  Characters </button>
                                    <div id="second-characters-collapse-view">

                                        <div id="characters-chart-2">

                                        </div>
                                        <table class="table">
                                            <thead>
                                            <th>Similarity</th>
                                            <th> Wordcount </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>100%</td>
                                                    <td>@Model.SimilaritySegments100PercentCharacterCountCharacterBased</td>
                                                </tr>

                                                <tr>
                                                    <td>95% - 99%</td>
                                                    <td>@Model.SimilaritySegments99_95PercentCharacterCountCharacterBased</td>
                                                </tr>

                                                <tr>
                                                    <td>85%-94%</td>
                                                    <td>@Model.SimilaritySegments94_85PercentCharacterCountCharacterBased</td>
                                                </tr>

                                                <tr>
                                                    <td>75%-84%</td>
                                                    <td>@Model.SimilaritySegments84_75PercentCharacterCountCharacterBased</td>
                                                </tr>

                                                <tr>
                                                    <td>50%-74%</td>
                                                    <td>@Model.SimilaritySegments74_50PercentCharacterCountCharacterBased</td>
                                                </tr>

                                                <tr>
                                                    <td>0%-49%</td>
                                                    <td>@Model.SimilaritySegments49_0PercentCharacterCountCharacterBased</td>
                                                </tr>
                                                <tr>
                                                    <td class="without-border">TOTAL</td>
                                                    <td class="without-border">@Model.FilesComparingResult.TotalCharacterNumber</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                            </div>
                        </fieldset>
                </div>
           
                     </div>
                    
                </div>
                 </div>

                   

                    <div id="table-container">
                        <button class="collapsible active while" id="table-collapsible">  SDLXLIFF Compare </button>
                        <div class="table-view" id="table-view-id">
                            @*<hr>*@
                            <div class="diagram-container-full">
                                <button class="collapsible active" id="file-comparison-collapsible"> @Model.FilesComparingResult.SourceFileName </button>
                                <div id="file-comparison-collapsible-view">
                                    <table class="comparison-result">
                                        <thead>
                                        <th class="gray-header"> ID </th>
                                        <th class="gray-header"> Source </th>
                                        <th class="gray-header"> Word Count </th>
                                        <th class="gray-header"> Translation status </th>
                                        <th class="gray-header"> Match status </th>
                                        <th class="gray-header"> Target(original) </th>
                                        <th class="gray-header"> Target(edited) </th>
                                        <th class="gray-header"> S% </th>
                                        </thead>
                                        <tbody>
                                            @foreach (var segment in Model.FilesComparingResult.ModifiedSegments)
                                            {
                                                <tr>
                                                    <td class="gray-row">@segment.ModidfiedSegment.Id</td>
                                                    <td class="gray-row">@Model.FilesComparingResult.SourceSegments.FirstOrDefault(s => s.Id == segment.OriginalSegment.Id).Value</td>
                                                    <td class="gray-row">@Model.FilesComparingResult.SourceSegments.FirstOrDefault(s => s.Id == segment.OriginalSegment.Id).WordCount</td>
                                                    <td class="gray-row">Translated</td>
                                                    <td class="gray-row">@Model.ToDescriptionString(segment.ModidfiedSegment.MatchStatus)</td>
                                                    <td class="gray-row"> @segment.OriginalSegment.Value </td>
                                                    <td class="gray-row"> @Html.Raw(segment.ModidfiedSegment.Value) </td>
                                                    <td class="gray-row">@segment.SimilarityPercent.WordBased %</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

        </div>

    </div>

</body>

</html>


