﻿#header {
    width: 100%;
    margin: 0 auto;
}

.block {
    display: inline-block;
}

.block-right {
    display: inline-block;
    float: right;
}

    .block-right img {
        width: 150px;
        height: 90px;
    }

div.tab {
    overflow: hidden;
    border-bottom: 12px;
    border-bottom-style: solid;
    border-bottom-color: #006666;
    width: 100%;
}

button.tab-link {
    background-color: #00b3b3;
    width: 20%;
    height: 40px;
    cursor: pointer;
    color: aliceblue;
    border: none;
    font-style: normal;
    font-size: 14px;
}

    button.tab-link:hover {
        background-color: #006666;
    }

.tab-container {
    width: 100%;
    padding: 10px;
}

#chart {
    width: 50%;
    height: 200px;
    float: right;
}

.diagram-container {
    overflow: hidden;
    border: 2px;
    width: 60%;
    border-color: gray;
    border-style: solid;
    border-radius: 3px;
    display: table;
    margin: 0 auto;
    position: relative;
}

#percent-table {
    border-collapse: collapse;
    float: right;
    margin: 10px;
}

#percent-table, th, td {
    border: 2px solid black;
    border-style: solid;
    text-align: center;
}

.without-border {
    border: none;
    font-weight: bold;
}

.bold-text {
    font-weight: bold;
    font-size: 20px;
}

.info {
    text-align: center;
    float: right;
    margin-top: 10%;
}

.file-names-container {
    width: 100%;
}

.collapsible {
    background-color: transparent;
    color: gray;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.file-names-content {
    width: 100%;
}

.file-names {
    overflow: hidden;
    width: 60%;
    display: table;
    margin: 0 auto;
}

#file-names-table {
    display: table;
    margin: 0 auto;
    width: 100%;
}

th.simple {
    color: black;
}

.simple {
    border: none;
    text-align: left;
    color: grey;
}

#two-views-container {
    width: 100%;
    margin: 0 auto;
}

.first-diagram-container {
    width: 55%;
    height: 100%;
    display: inline-block;
}

.second-diagram-container {
    width: 45%;
    height: 100%;
    display: inline-block;
    float: right;
}

.diagram-container-full {
    overflow: hidden;
    width: 95%;
    border: 2px;
    border-color: gray;
    border-style: solid;
    border-radius: 3px;
}

#segments-chart-1 {
    width: 50%;
    height: 200px;
    float: right;
}

#words-chart-1 {
    width: 50%;
    height: 200px;
    float: right;
}

#characters-chart-1 {
    width: 50%;
    height: 200px;
    float: right;
}

.table {
    border-collapse: collapse;
    margin: 10px;
}

button.tab-link-max-width {
    background-color: #00b3b3;
    width: max-content;
    margin-top: 4px;
    height: 40px;
    cursor: pointer;
    color: aliceblue;
    border: none;
    font-style: normal;
    font-size: 14px;
}

    button.tab-link-max-width:hover {
        background-color: #006666;
    }

#segments-chart-2 {
    width: 50%;
    height: 200px;
    float: right;
}

#words-chart-2 {
    width: 50%;
    height: 200px;
    float: right;
}

#characters-chart-2 {
    width: 50%;
    height: 200px;
    float: right;
}

#file-comparison-collapsible {
    width: 98%;
    display: table;
    margin: 5px auto;
    background-color: #006666;
    color: white;
}

#file-comparison-collapsible-view {
    width: 98%;
    display: table;
    margin: 5px auto;
}

.comparison-result {
    width: 100%;
    border-collapse: collapse;
}

th.gray-header {
    background-color: gray;
    color: white;
    margin: 0;
    border: none;
}

td.gray-row {
    border: gray;
    border-width: 2px;
    border-style: solid;
}
